body {
	background: url("img/cutlery.jpg") center center no-repeat;
	background-size: cover;
	height: 680px;
}

#wrapper {
	width: 415px;
	margin: 50px auto 0;
	padding: 30px 50px;
	box-sizing: border-box;
	background: #FFF url("img/paper.png") top left repeat;	/* This pattern is downloaded from www.subtlepatterns.com */
	box-shadow: 0px 0px 25px 0 #555;
	border-radius: 3px;
	text-align: center;
}

h1 {
	font-size: 38px;
	padding-bottom: 30px;
	border-bottom: 1px solid #AA3939;
	text-shadow: 2px 2px 2px #AAA;
	color: #630000;
}

form {
	text-align: left;
	margin: 10px;
	font-weight: bold;
}

label {
	display: block;
}

form input,
form select {
	padding: 10px;
	margin: 10px 0 20px;
}

.message {
	font-size: 13px;
	color: #B10202;
	margin-bottom: 3px;
}

#serviceQuality {
	width: 185px;
}

form input[type="text"] {
	width: 90px;
}

#calculator {
	border-bottom: 1px solid #AA3939;
}

#calculate {
	text-align: center;
	padding: 10px 18px;
	margin: 10px auto 20px;
	border: none;
	background: #630000;
	background: linear-gradient(#B10202, #630000);
	color: #FFF;
	border-radius: 3px;
	box-shadow: 3px 3px 10px #555;
	font-weight: bold;
}

#calculate:hover {
	background: linear-gradient(#630000, #8E0000);
}

#calculate:active {
	position: relative;
	top: 1px;
}

#totalTip {
	font-size: 50px;
	margin-top: 20px;
	color: #630000;
}

#totalTip:before {
	content: "Tip amount";
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

#totalTip sup {
	font-size: 24px;
	top: -18px;
}

#totalTip small {
	display: block;
	font-size: 14px;
	font-weight: bold;
}